@import "tailwindcss";
/* Optional: Custom styles */
body {

  
  


  font-family: 'Inter', sans-serif;
  background-color: #000000;
  color: white;
  margin: 0;
  padding: 0;
}


body {
  @apply bg-black text-white font-sans;
}

img {
  display: block;
  max-width: 100%;
}
